<div class="navbar">
	<div class="navbar-inner">
	    <div class="container">
	        <a class="brand" href="@{Application.index}">
	            Home Grown Productions
	        </a> 
	        <div class="nav-collapse">
	            <ul class="nav">
	                <li>
	                	<a href="@{Application.index}"><i class="icon-home icon-white"></i></a>

	                </li>
	                <li><a href="@{Events.index}">All Shows</a></li>
	            </ul>
	            
	            #{form @Searcher.searchBand(), class:'navbar-search', method:'GET'}
	                <div class="input-append" class="span3">
	                    <input name="query" class="search-query span3" type="text" placeholder="Search">
	                    </input>
                        <button class="add-on">
	                        <i class="icon-search"></i>
	                    </button>
	                    
	                </div>
	            #{/form}

	            <ul class="nav pull-right">
	                <li><a href="#">Shopping Cart <i class="icon-shopping-cart icon-white"></i></a></li>
	                <li class="divider-vertical"></li>
	                <li class="dropdown">
	                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	                        Account <i class="icon-user icon-white"></i>
	                        <b class="caret"></b>
	                    </a>
	                    
	                    <ul class="dropdown-menu nav-list">
	                    	<li class="nav-header">Account Options</li>
	                        <li><a data-toggle="modal" data-backdrop="true" data-controls-modal="signin-modal" href="#signin-modal">
	                        	Sign in</a>
	                        </li>
	                        
	                        <li class="nav-header">Don't have an account?
	                       		<a href="@{Account.create()}">Create one now!</a>
	                        </li>
	                    </ul>
	                </li>
	            </ul>
	        </div>
	    </div>
	    
	</div>
</div>

#{signin /}