#{extends 'main.html' /}
#{set title:'Home' /}
<div class="row span10 well">
<form action="@{Account.createAccount(email, password)}" 
	style="border-right:solid 1px; padding-right:55px;" 
	class="span4" method="POST">
	<fieldset>
		#{ifErrors}
		<legend style="margin-bottom:-5px;">Create Account
		<p class="label label-important">
			Uh-oh, something wasn't filled in right!
		</p>
		</legend>
		#{/ifErrors}
		#{else}<legend>Create Account</legend>#{/else}
			#{ifError 'email'}
				<div class="control-group error">
					<label class="control-label" for="email">Email address: *#{error 'email' /}</label>
					<div class="controls">						
			#{/ifError}
			#{else}
				<div class="control-group">
					<label class="control-label" for="email">Email address:</label>
					<div class="controls">
			#{/else}
					<input type="text" class="input-xlarge" 
						id="email" name="email" value="${flash.email}">
				</div>
			</div>
			#{ifError 'password'}
				<div class="control-group error">
				<label class="control-label" for="password">Password: *#{error 'password' /}</label>
				<div class="controls">
			#{/ifError}
			#{else}
				<div class="control-group">
				<label class="control-label" for="password">Password:</label>
				<div class="controls">
			#{/else}
					<input type="password" id="password" name="password" 
						class="input-xlarge" value="${flash.password}">
				</div>
			</div>
			<button class="btn btn-primary">Create!</button>
			<button class="btn btn-danger">Cancel</button>
	</fieldset>
</form>
<form action="@{Account.createAccount(s_email, s_password)}" class="span4 offset1">
	<fieldset>
		<legend>Already have one?</legend>
		<a data-toggle="modal" data-backdrop="true" data-controls-modal="signin-modal" href="#signin-modal" class="btn btn-info">Sign In!</a>
	</fieldset>
</form>

</div>