<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script
        <script src="@{'/public/javascripts/bootstrap.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        
        #{get 'moreScripts' /}
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="@{Application.index}">
                        Home Grown Productions
                    </a> 
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li><a href="@{Application.index}">Home</a></li>
                            <li><a href="@{Events.index}">All Shows</a></li>
                        </ul>
                        
                        #{form @Searcher.searchBand(), class:'navbar-search', method:'GET'}
                            <div class="input-append" class="span3">
                                <input name="query" class="search-query span3" type="text" placeholder="Search">
                                </input>
                                    <button class="add-on">
                                    <i class="icon-search"></i>
                                </button>
                                
                            </div>
                        #{/form}

                        <ul class="nav pull-right">
                            <li><a href="#">Shopping Cart</a></li>
                            <li class="divider-vertical"></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Account
                                    <b class="caret"></b>
                                </a>
                                
                                <ul class="dropdown-menu">
                                    <li><a href="">Sign in</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
        <div id="container-fluid" class="row-fluid">
            #{sidebar /}
            <div class="span9">
                #{doLayout /}
            </div>
        </div>
    </body>
    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                $('.dropdown-toggle').dropdown();
            });
        </script>
</html>
